{% block header %}
{% include 'header.html' %}
{% endblock %}
<div class="side_frame">
    <form id="ajaxRequest" class="bootstrap-frm">
        <input type="hidden" id="callBack" value="editExecuteSettings">
        <label>
            <span>Website Name:</span>
            <input id="settings[site_name]" name="settings[site_name]" type="text" placeholder="The name of the website" value="{{ site_name }}" required>
        </label>
        <label>
            <span>Results per pgage:</span>
            <select name="settings[site_resultsnumber]" title="settings[site_resultsnumber]">
                {% for i in range (10, 50, 10) %}
                    <option value="{{ i }}" {% if site_resultsnumber == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </label>
        <label>
            <span>Use Cookies:</span>
            <select name="settings[site_cookies]" title="settings[site_cookies]">
                <option value="1" {% if site_cookies == 1 %}selected{% endif %}>Yes</option>
                <option value="0" {% if site_cookies == 0 %}selected{% endif %}>No</option>
            </select>
        </label>
        <label>
            <span>Enable Cache:</span>
            <select name="settings[site_cache]" title="settings[site_cache]">
                <option value="1" {% if site_cache == 1 %}selected{% endif %}>Yes</option>
                <option value="0" {% if site_cache == 0 %}selected{% endif %}>No</option>
            </select>
        </label>
        <label>
            <span>&nbsp;</span>
            <input type="submit" class="button" value="Update" />
        </label>
        <div id="results"></div>
    </form>

    <div class="clear"></div>
</div>
{% block footer %}
{% include 'footer.html' %}
{% endblock %}